<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HowChu</title>

    <!-- reset.css -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- global.css -->
    <link rel="stylesheet" href="./css/global.css?1">
    <!-- header.css -->
    <link rel="stylesheet" href="./css/header.css?1">
    <!-- login.css -->
    <link rel="stylesheet" href="./css/login.css?1">
    <!-- footer.css -->
    <link rel="stylesheet" href="./css/footer.css?1">
</head>
<body>
    <header class="header">
        <div class="header__top inner">
            <div id="js-menu">
                <div class="header-icon">
                    <div class="header-icon__bar1"></div>
                    <div class="header-icon__bar2"></div>
                </div>
            </div>
            <div class="menu-content">
                <ul class="menu-items">
                    <li class="menu-item">
                        <a href="" class="menu-item-link">
                            <img src="./image/menu-icon1.png" alt="">
                            <p>MYエリア設定</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/NowStation" class="menu-item-link">
                            <img src="./image/menu-icon2.png" alt="">
                            <p>MY区間設定</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-item-link">
                            <img src="./image/menu-icon3.png" alt="">
                            <p>プロフィール設定</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/" class="menu-item-link">
                            <img src="./image/menu-icon4.png" alt="">
                            <p>サインアウト</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-item-link">
                            <img src="./image/menu-icon5.png" alt="">
                            <p class="delete">アカウント削除</p>
                        </a>
                    </li>
                </ul>
           </div>
            <!-- /.menu -->
            <div class="header-logo"><img src="./image/logo.png" alt="HowChu"></div>
            <div class="header-image"><img src="./image/header-image.png" alt="人物画像"></div>
        </div>
        <div class="header__nav">
            <ul class="header-nav-lists">
                <li class="header-nav-list"><a href="/index" class="header-nav-link">TOP</a></li>
                <li class="header-nav-list"><a href="index.html#weather" class="header-nav-link">天気</a></li>
                <li class="header-nav-list"><a href="/NowStation" class="header-nav-link">MY区間設定</a></li>
                <li class="header-nav-list"><a href="index.html#news" class="header-nav-link">ニュース</a></li>
                <li class="header-nav-list"><a href="/kemopo" class="header-nav-link">ログインスタンプ</a></li>
            </ul>
        </div>
   </header>
    <!-- /.header -->

    <div class="main">
        <div class="inner">
            <section class="login">
                <h2 class="section-title">
                    <img src="./image/title-icon_message.png" alt="">
                    <p>ログインスタンプ「けもぽ」</p>
                </h2>
                <div class="login__body section-body">
                    <div class="login-message-wrap">
                        <div class="balloon-wrap login-balloon">
                            <div class="balloon">
                                <img src="./image/login-stamp.png" alt="">
                                <p>
                                    今日で通算2日目❗❗<br>
                                    いつもありがとう😊<br>
                                    これからもよろしくね✌️<br>
                                </p>  
                            </div>
                            <div class="base">
                            <div class="base-sankaku"></div>
                            <div class="sankaku"></div>
                            </div>
                        </div>
                        <div class="login-character"><img src="./image/message-character.png" alt=""></div>
                        <div class="stamp-image"><img src="./image/login-stamp.png" alt=""></div>
                    </div>
                    <div class="calendar-date">2022.08.23</div>
                    <table class="calendar-table">
                        <tr>
                            <td><span>1</span><img src="./image/stamp.png" alt="スタンプ"></td>
                            <td><span>2</span><img src="./image/stamp.png" alt="スタンプ"></td>
                            <td><span>3</span></td>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                        </tr>
                        <tr>
                            <td><span>6</span></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><span>10</span></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td><span>14</span></td>
                            <td><span>15</span></td>
                        </tr>
                        <tr>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                        </tr>
                        <tr>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><span>23</span></td>
                            <td><span>24</span></td>
                            <td><span>25</span></td>
                        </tr>
                        <tr>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td><span>29</span></td>
                            <td><span>30</span></td>
                        </tr>
                        <tr>
                            <td><span>31</span></td>
                        </tr>
                    </table>
                    <div class="section-link">
                        <a href="/index" class="back-link">TOPへ</a>
                    </div>
                </div>
            </section>
            <!-- /.login -->

            <div class="banner">
                <a href="" class="bannar-image"><img src="./image/banner-image.png" alt="バナー"></a>
           </div>
           <!-- /.banner -->

        </div>
        <!-- /.inner -->
    </div>
    <!-- /.main -->

    <footer class="footer">
        <div class="contact">
            <img src="./image/contact-icon.png" alt="">
            <p>お問い合わせ</p>
        </div>
        <div class="footer-logo"><img src="./image/logo.png" alt="HowChu"></div>
        <div class="to-top"><a href="#"><img src="./image/top-top.png" alt="TOPへ戻る"></a></div>
   </footer>
   <!-- /.footer -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- original.js -->
    <script src="./js/script.js"></script>
</body>
</html>