<!DOCTYPE html>
<html>
  <head>
    <title>ログイン</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/session">
      <div class="example">
        <label for="malelabel">メールアドレス</label>
        <input type="text" name="mail" id="mailaddress">
      </div>
      <div class="example">
        <label for="pass">パスワード</label>
        <input class="inputs" type="password" name="password" id="password">
      <div class="example">
        <input type="submit" value="送信する">
      </div>  
    </form>
  </body>
</html>
