// キャラ
.charaMesse{
	margin-top: 10px;
	margin-bottom: 20px;

	.charaMesse_messe{
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		p{
			font-size: 1.8rem;
			line-height: 3rem;
		}
	}
}

// 確認メッセージ
.deleteMesse{
	p{
		width: 25rem;
		height: 8rem;
		font-size: 1.7rem;
		color: red;
		margin: 20px auto;
	}

	.deleteBtns{
		text-align: center;
		button{
			margin: 0 2rem;
			width: 11rem;
			height: 4rem;
			font-size: 1.7rem;
			border: solid black 0.5px;
			text-align: center;
		}

		.deleteBtn_back{
			background-color: #6EF59F;
		}
		.deleteBtn_delete{
			background-color: #EF4B4B;
			color: white;
		}
	}

}

// ボタン
