.voice{
	text-align: center;
	.chara{
		img{
			margin-top: 1rem;
			width: 22rem;
			height: 22rem;
		}
		h2{
			margin: 1rem auto 0;
			width: 18rem;
			font-size: 2.9rem;
			border-bottom: solid black 0.5px;
		}
	}

	.voiceList{
		text-align: center;
		margin-top: 30px;
	}

	button{
		margin-top: 5rem;
		border: solid black 0.5px;
		font-size: 1.7rem;
		width: 9rem;
		height: 4rem;
		text-align: center;
	}

}