/* ========================================================
footer
=========================================================*/
.footer {
    background: #fff;
    height: 66px;
    padding: 9px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    text-align: center;

    img {
        width: 24px;
    }

    p {
        font-size: 11px;
        color: #3F92BB;
        font-weight: bold;
        padding-top: 3px;
    }
}

.footer-logo {
    width: 82px;
}

.to-top {
    width: 40px;
}
